/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO DO CABEÇÇALHO */
header{
    padding: 15px 8%;
    background-color: #2A2D34; 
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 50px;
    width: 100px;
}

header a{
    color: aliceblue;
    text-decoration: none;
    text-align: right;
    margin: 0;
    line-height: 1.2em;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    margin-right: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 15px;
    letter-spacing: 1.22px; 
}

header a:hover{
    color:aquamarine;    
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 10px;
}


/* CONTATO */
.contact-us {
    text-align: center;
    padding: 80px 0; }
    .contact-us .contact-us-title {
      text-align: right; }
      .contact-us .contact-us-title h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 8px;
        color: #424143;
        text-transform: uppercase; }
      .contact-us .contact-us-title hr {
        margin: 0; }
    .contact-us .contact-form input {
      height: 52px;
      font-family: 'Lato', sans-serif; }
    .contact-us .contact-form input[type="submit"] {
      font-weight: 700;
      background-color: #9D9D9D;
      color: #FFF;
      text-transform: uppercase;
      border: none;
      box-shadow: none;
      width: 100%;
      cursor: pointer; }
      .contact-us .contact-form input[type="submit"]:hover {
        background-color: #424143; }
    .contact-us .contact-form textarea {
      height: 120px;
      resize: none; }
      
      @media only screen and (min-width: 64em) and (max-width: 90em) {
        .contact-us .contact-us-title {
          padding: 40px 0; }
          .contact-us .contact-us-title h3 {
            font-size: 26px; }
        .contact-us .contact-form input {
          height: 52px; }
        .contact-us .contact-form .form-part2 {
          padding-left: 10px; } }
      /* min-width 1441px ********************************************************************/
      @media only screen and (min-width: 90.063em) {
        .contact-us .contact-us-title {
          padding: 40px 0; }
          .contact-us .contact-us-title h3 {
            font-size: 28px; }
        .contact-us .contact-form input {
          height: 52px; }
        .contact-us .contact-form .form-part2 {
          padding-left: 10px; } }


  