
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* ESTILO DO CABEÇÇALHO */
header{
    padding: 15px 8%;
    background-color: #2A2D34; 
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 50px;
    width: 100px;
}

header a{
    color: aliceblue;
    text-decoration: none;
    text-align: right;
    margin: 0;
    line-height: 1.2em;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    margin-right: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1.22px; 
}

header a:hover{
    color: aquamarine;    
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 20px;
}


/* teste para fundo */
.welcome-gallery, .welcome-inner, .welcome-slider {
    margin: 0;
    padding: 0; }
  
  .welcome-gallery {
    height: 400px;
    position: relative;
    width: 100%; }
    .welcome-gallery .photo-section, .welcome-gallery .main-section-title, .welcome-gallery .photo-gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .welcome-gallery .photo-section {
      z-index: 1; }
      .welcome-gallery .photo-section img {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }    
        .welcome-gallery .main-section-title {
            z-index: 3;
            height: 100%;
            text-align: center; }
        .welcome-gallery .main-section-title h1 {
              font-size: 30px;
              font-family: 'Poppins', sans-serif;
              font-weight: 500;
              color: white; }
        .welcome-gallery .main-section-title h2 {
              font-size: 18px;
              font-family: 'Poppins', sans-serif;
              font-weight: 300;
              color: white; }
    .welcome-gallery .photo-gradient {
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2; }
      .ghost-element {
        height: 90px; } 
  


@media only screen and (max-width: 40em) {
    .welcome-gallery .main-section-title {
      padding: 0 40px; } }
  /* min-width 641px and max-width 1023px ************************************************/
  @media only screen and (min-width: 40.063em) and (max-width: 63.938em) {
    .welcome-gallery {
      height: 600px; }
      .welcome-gallery .main-section-title {
        padding: 0 40px; }
        .welcome-gallery .main-section-title h1 {
          font-size: 44px; }
        .welcome-gallery .main-section-title h2 {
          font-size: 24px; } }
  /* min-width 1024px and max-width 1440px ***********************************************/
  @media only screen and (min-width: 64em) and (max-width: 90em) {
    .welcome-gallery {
      height: 500px; }
      .welcome-gallery .main-section-title h1 {
        font-size: 48px; }
      .welcome-gallery .main-section-title h2 {
        font-size: 22px; } }
  /* min-width 1441px ********************************************************************/
  @media only screen and (min-width: 90.063em) {
    .welcome-gallery {
      height: 650px; }
      .welcome-gallery .main-section-title h1 {
        font-size: 54px; }
      .welcome-gallery .main-section-title h2 {
        font-size: 28px; } }